.bg{
    background-color: #1ABC9C;
}
.line{
    width: 7rem;
    background-color: white;
    padding: 0.1rem;
    margin-inline: 0.5rem;
    display: inline-block;
    border-radius: 0.25rem;
    vertical-align: middle;
}
h1{
    text-transform: uppercase;
    font-size: 4.5rem !important;
    font-weight: bold !important;
}
p{
    font-size: 1.5rem;
}
