.sectiontitle{
    color: #2C3E50;
}
.line{
    width: 7rem;
    background-color: #2C3E50;
    padding: 0.1rem;
    margin-inline: 0.5rem;
    display: inline-block;
    border-radius: 0.25rem;
    vertical-align: middle;
}